.button-edit,
.button-archived,
.button-deleted,
.button-delete-all {
  background-color: transparent;
  border: none;
  color: rgb(59, 58, 58);
}

.button-delete-all {
  background-color: transparent;
  border: none;
}

.button-header-archived,
.button-header-delete {
  color: white;
}

.button-header-archived.focus {
  color: rgb(59, 58, 58);
}

.button-wrapper {
  display: flex;
  justify-content: right;
  padding: 5px;
  margin-top: auto;
}

.button-create {
  padding: 5px;
  margin-top: auto;
  background-color: rgb(237, 243, 250);
}

.button-categories {
  color: white;
}
