.notes-header__list,
.notes-line__list,
.summary-header__list,
.summary-line__list {
  display: flex;
  padding: 10px;
  font-size: 20px;
}

.notes-header__list,
.summary-header__list {
  background-color: grey;
  color: white;
}

.notes-line__list,
.summary-line__list {
  margin-top: 10px;
  background-color: gainsboro;
}

.notes-header__list > li {
  padding: 5px;
  margin-right: 5px;
}
.notes-line__list > li {
  padding: 5px;
  margin-right: 5px;
}

.column-one {
  width: 400px;
}

.column-two {
  width: 250px;
}

.column-three {
  width: 300px;
}

.column-four {
  width: 500px;
  // flex-grow: 1;
}

.column-five {
  width: 100px;
}

.button-wrapper {
  display: flex;
  justify-content: right;
}
.button-create {
  padding: 5px;
  margin: 5px;
}

.summary {
  overflow: auto;
}

.notes {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  flex-grow: 1;
}

.notes-list {
  // height: 60vh;
  overflow: auto;
}
