.notes {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: auto;
  flex-grow: 1;
}

.notes__list {
  overflow: auto;
}

.notes__header__list,
.notes__line__list {
  display: flex;
  padding: 5px;
  font-size: 20px;
  justify-content: start;
  align-items: center;
}

.notes__header__list {
  background-color: grey;
  color: white;
  text-align: start;
  text-align: center;
  & .column-one {
    min-width: 300px;
  }

  & .column-two {
    min-width: 200px;
  }

  & .column-three {
    min-width: 200px;
  }

  & .column-four {
    min-width: 500px;
  }
  & .fa-archive::before {
    color: white;
  }
}

.notes__header__item {
  padding: 5px;
  margin-right: 5px;
}

.notes__header__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: auto;
  padding-right: 5px;
}

.notes__line__list {
  margin-top: 10px;
  background-color: rgb(237, 243, 250);
  & .column-one {
    min-width: 250px;
  }

  & .column-two {
    min-width: 200px;
  }

  & .column-three {
    min-width: 200px;
  }

  & .column-four {
    min-width: 500px;
  }

  & .column-six {
    margin-left: auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  & > li {
    padding: 5px;
    margin-right: 5px;
  }
}

.notes__line__column__wrapper {
  border-radius: 50%;
  width: 35px;
  height: 35px;

  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
