.summary {
  overflow: auto;
  min-height: 270px;
}

.summary__header__list {
  background-color: grey;
  color: white;
  text-align: start;
}

.summary__line__list {
  margin-top: 10px;
  background-color: rgb(237, 243, 250);
}

.summary__header__list,
.summary__line__list {
  display: flex;
  padding: 5px;
  font-size: 20px;
  justify-content: start;
  align-items: center;
}

.summary__line__column {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 5px;
  margin-right: 10px;

  &.column-one {
    min-width: 300px;
  }

  &.column-two {
    min-width: 300px;
    justify-content: center;
  }

  &.column-three {
    min-width: 300px;
    justify-content: center;
  }
}

.summary__line__column .button-summary {
  color: white;
}

.summary__header__item {
  text-align: center;
  margin-right: 10px;
  &.column-one {
    min-width: 370px;
  }

  &.column-two {
    min-width: 300px;
  }

  &.column-three {
    min-width: 300px;
  }
}

.summary__line__column__wrapper {
  border-radius: 50%;
  width: 35px;
  height: 35px;

  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
