<li class='modal__form__inputs__item'>
  <label class='modal__form__inputs__field'><span class='modal__form__inputs__label'>Name:</span>

    <textarea name='name' rows = '1' class='modal__form__inputs__input' />{{#if name}}{{name}}{{/if}} </textarea>
  </label>
</li>
<li class='modal__form__inputs__item'>
  <label class='modal__form__inputs__field'><span class='modal__form__inputs__label'>Created:</span>
    <input
      type='date'
      name='created'
      class='modal__form__inputs__input js-date-created'
      {{#if created}} value={{created}} {{/if}}
    />
  </label>
</li>
<li class='modal__form__inputs__item'>
  <label class='modal__form__inputs__field'><span class='modal__form__inputs__label'>Category:</span>
    <select name='category' class='form-select js-category-select' id='category-select'>
              <option value="Task">Task</option>
              <option value="Random Thought" >Random Thought</option>
              <option value="Idea">Idea</option>
               <option value="Quote">Quote</option>
    </select>
  </label>
</li>

<li class='modal__form__inputs__item'>
  <label class='modal__form__inputs__field'><span class='modal__form__inputs__label'>Content:</span>
    <textarea name='comment' rows='3' class='modal__form__inputs__input'>{{#if content}}{{content}}{{/if}}</textarea>
  </label>
</li>