{{#each this}}
  <li class='summary__line'>
    <ul class='summary__line__list'>
      <li class='summary__line__column'>
        <div class='summary__line__column__wrapper'>
          {{{image}}}
        </div></li>
      <li class='summary__line__column column-one'>{{category}}</li>
      <li class='summary__line__column column-two'>{{active}}</li>
      <li class='summary__line__column column-three'>{{archived}}</li>

    </ul>

  </li>
{{/each}}