{{#each this}}
  <li class='summary-line'>
    <ul class='summary-line__list'>
      <li>
        <div class='summary-line__column__wrapper'>
          <i class='fa-solid fa-box-archive button-summary'></i></div></li>
      <li class='summary-line__column column-one'>{{category}}</li>
      <li class='summary-line__column column-two'>{{active}}</li>
      <li class='summary-line__column column-three'>{{archived}}</li>

    </ul>

  </li>
{{/each}}